# ansible.cfg

[defaults]
inventory = ./inventory/hosts.yml
forks = 2
stdout_callback = minimal
host_key_checking = False
roles_path = ./roles
collections_path = ./deps/collections
# vault_password_file = ~/.vault_pass

[ssh_connection]
pipelining = True
